viser
git+https://github.com/nerfstudio-project/nerfview@4538024fe0d15fd1a0e4d760f3695fc44ca72787
splines
imageio[ffmpeg]
numpy<2.0.0
scikit-learn
tqdm
torchmetrics[image]
opencv-python
tyro>=0.8.8
scikit-build-core
scikit-learn
Pillow
tensorboard
tensorly
attridict
pyyaml
matplotlib
pybind11[global]